@import '@noera/ui/theme.css';

@import 'tailwindcss';

/*
Import order matters:
1. First import tailwindcss for this app's processing
2. Then import theme.css which will add/override with custom styles
*/

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
